.feynman__title {
  text-align: center;
  margin: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  }