.kaufman__triangle {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 877px;
    height: 877px;
    z-index: 1;
    background-image: url(../../../images/kaufman-triangle.svg);
    right: -210px;
    animation: rotation 20s infinite linear;
 }