.header__title {
    position: relative;
    display: flex;
    width: 730px;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 64px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bolder;
    z-index: 2;
    margin: 0;
  }