.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}


.no_margin {
  margin: 0;
  text-align: center;
}

.link_decoration {
  color: #2f80ed;
  text-decoration: none;

}

.red {
  border: 1px solid red;
}


.flex-row {
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.flex-row:first-child {
  margin-bottom: 60px;
}



.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo_place_header {
  position: relative;
}

.header__logo-image {
  position: absolute;
  top: 30px;
  left: 64px;
}

.title {
  display: flex;
  width: 730px;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 64px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  z-index: 2;
}

.subtitle {
  position: relative;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: 500;
}

.header__main-illustration_image {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  z-index: 1;
  
}

.square-pic {
  display: relative;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}






.content {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 30px;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
}

.two-columns__brief-text {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color:#2f80ed;
  margin-top: 0;
}

.two-columns__paragraph:first-child {
 margin-top: 0;
}

.two-columns__paragraph-span {
  line-height: 34px;
  font-size: 24px;
  font-weight: bolder;
}




.digits {
  margin-top: 100px;
}

.section__title {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 60%;
}

.section__title-text {
  line-height: 1.15;
  font-size: 60px;
  margin: 0;
  font-weight: bolder;
}

.section__subtitle {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 60%;
}

.section__subtitle-text {
  line-height: 34px;
  font-size: 24px;
  margin: 20px 0 60px 0;
  font-weight: normal;
}







/* DIGITS__TABLE MODS */


.cell_p_margin {
  margin: 20px 0;
}
.cell_p_margin:last-child {
  margin-bottom: 0;
}



.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}


/* DIGITS__TABLE MODS (END) */

.table {
  width: 1100px;
  margin: auto;
}

.table__cell-heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}

.table__cell-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell {
  min-height: auto;
  width: 250px;
  padding: 0;
}




.feynman {
  position: relative;
  margin-top: 100px;
  background-image: url(../images/feynman.png);
  background-color: #f2f2f2;
  height: 790px;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.feynman__title {
  padding-top: 100px;
  margin: auto;
  width: 648px;
}
.feynman__title-text {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
}

.feynman__subtitle {
  margin-top: 70px;
  
}
.feynman__subtitle-text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}
.feynman__link-pos {
  position: absolute;
  right: 48px;
  top: 50%;
}






.kaufman {
  color: white;
  background-color: black;
  overflow: hidden;
  position: relative;
  padding-bottom: 90px;
  /* height: 967px; */
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1;
  width: 877px;
  height: 877px;
}


/* SECTION DARK THEME MODIFICATORS */

.table_theme_dark {
  position: relative;
  margin-top: 20px;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin: 0;
}

.section__title_theme_dark {
  padding-top: 90px;
}

/* SECTION DARK THEME (END) */










.footer {
  height: 350px;
  background-color: black;
  color: white;
  padding: 60px 0 40px 0; 
}

.footer__columns {
  display: flex;
  margin: auto;
  width: 90%;
  height: 100%;
  justify-content: space-around;
  flex-direction:row;
}
.footer__column:first-child {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
}

.footer__column-link {
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__author-text {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0 18px 0;
}

.footer__column-links {
  margin: 20px 0 16px 0;
}

.footer__link-icon {
  padding-right: 10px;
}